# Environment Variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Build output
dist/
build/
.next/
out/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
